{% extends "partials/base.html" %}

{% block content %}

    {% include "partials/nav.html" %}

    <div class="container">
        <article class="post-detail">
            <h2>{{post.title}}</h2>
            <p class="post-meta">Publicado em <strong>{{post.data}}</strong> por <strong>{{post.user.name}}</strong></p>

            {% if post.imagem %}
                <img src="{{url_for('static', filename=post.imagem)}}" alt="Imagem do post">
            {% endif %}
            
            <p>
            {{post.content}}
            </p>
            
        </article>
    </div>

    {% include "partials/footer.html" %}

{% endblock content %}