
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Post - TechLima</title>
    <link rel="stylesheet" href="detail.css">
    <link rel="stylesheet" href=' {{url_for("static", filename="css/index.css")}}'>
</head>
<body>
    <header>
        <h1>TechLima</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <article class="post-detail">
            <h2>{{post.title}}</h2>
            <p class="post-meta">Publicado em <strong>{{post.data}}</strong> por <strong>{{post.user.name}}</strong></p>

            {% if post.imagem %}
                <img src="{{url_for('static', filename=post.imagem)}}" alt="Imagem do post">
            {% endif %}
            
            <p>
            {{post.content}}
            </p>
            
        </article>
    </div>

    <footer>
        <p>&copy; 2025 TechLima. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
