{% extends "partials/base.html" %}



{% block content %}

    {% include "partials/nav.html" %}

    <main>
        <section class="hero">
            <div class="container">
                <h2>Bem-vindo ao TechLima!</h2>
                <p>O seu portal de tecnologia, programação e inovação.</p>
            </div>
        </section>

        <section id="artigos" class="articles">
            <div class="container">
                <h2>Últimos Artigos</h2>

                {% for post in posts %}

                    <div class="article">

                        {% if post.imagem %}
                            <img src=" {{url_for('static', filename=post.imagem)}}" alt="Imagem do artigo">
                        {% endif %}
                        
                        <div class="article-content">
                            <h3>{{post.title}}</h3>
                            <p>{{post.description}}</p>
                            <a href="{{url_for('post.detail', id=post.id)}}">Leia mais</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </section>

        <section id="sobre" class="about">
            <div class="container">
                <h2>Sobre o TechLima</h2>
                <p>O TechLima é um blog dedicado a compartilhar conhecimento sobre tecnologia, programação e inovação. Nosso objetivo é informar e inspirar desenvolvedores e entusiastas da área.</p>
            </div>
        </section>

    
    </main>

    {% include "partials/footer.html" %}

{% endblock content %}